.container {
    color:#333c4d;
}

#name {
    font-size:35px;
}

#header {
    font-size:30px;
}

#sub-header {
    font-style:italic;
    font-size:20px;
}

#word-counter {
    color:white;
    background-color:#66cc8a;
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.3s, cursor 0.3s;
}

#word-counter:hover {
    cursor:pointer;
    background-color:#73e199;
    box-shadow: 0px 8px #4c9967;
}

#calculator {
    color:white;
    background-color:#377cfb;
    border-radius: 20px;
    transition: background-color 0.3s, box-shadow 0.3s, cursor 0.3s;
}

#calculator:hover {
    cursor:pointer;
    background-color:#5792ff;
    box-shadow: 0px 8px #1763f0;
}