#calculate {
    background-color: aquamarine;
}

#calculate:hover {
    background-color: rgb(39, 255, 183);
}

#clear {
    background-color: lightcoral;
}

#clear:hover {
    background-color: rgb(233, 89, 89);
}

#previous-eqn {
    background-color: khaki;
    border-radius: 20px;
    color:rgb(80, 80, 80)
}

.eqn {
    color:gray
}